$height: 75px;
.info {
    display: flex;
    justify-content: center;
    height: $height;
    line-height: $height;
    font-size: 22px;
}
.content {
    width: 334px;
    text-align: center;
}
.split {
    width: 1px;
    height: 50px;
    margin-top: 12.5px;
    background: #F0F0F0;
}
.name {
    display: inline;
}
