$height: 75px;
.info {
    display: flex;
    justify-content: center;
    height: $height;
    line-height: $height;
    font-size: 22px;
}
.content {
    width: 334px;
    text-align: center;
}
.name {
    display: inline;
}
